

{% block title %}  {% endblock %}
{% block content %}
    <div class="container">
        {% block section %}
        <div class="card text-white bg-primary mb-3" >
            <div class="card-header">
             <h2>Refugio</h2>
            </div>
            </div>
        <hr>
        {% endblock section %}
        
    </div>
    <div class="container">
        {% block maincontent %}

        <div class="card text-center">
            <div class="card-header">
             
            </div>
            <div class="card-body">
              <h5 class="card-title">Leyendas</h5>
              <p class="card-text">contenido leyendas.</p>
              <a href="{% url 'mascota-list' %}" class="btn btn-primary">Ver Mascotas</a>
            </div>
          </div>
        {% endblock maincontent %}
    </div>
{% endblock %}